header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tarjeta);
    padding: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    padding-inline-start: 6rem;
    
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    cursor: pointer;
    position: absolute;
    width: 10%;
    left: 45%;
}

.pokebola {
    cursor: pointer;
    font-size: 2rem;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

header ul li {
    display: flex;
    align-items: center;
    gap: 3rem;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
header ul li a {
    color: var(--textp);
    text-decoration: none;
    font-weight: 600;
}

header input {
    padding: 10px;
    border-radius: 6px;
    border: solid 1px var(--Bord);
    width: 20%;
    transition: ease-in-out .5s;
}

header input:focus {
    outline: none;
    border: solid 1px var(--Butto);
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1),
                inset 0px 0px 15px rgba(0,0,0,0.1),
                inset 0px 0px 20px rgba(0,0,0,0.1),
                0px 0px 10px rgba(255, 0, 0, 0.6), 
                0px 0px 20px rgba(255, 223, 0, 0.8), 
                0px 0px 30px rgba(59, 76, 202, 0.7); 
    width: 50%;
}

.label {
    text-transform: capitalize;
    color: #E0C000;
    font-size: 1.5rem;
    text-shadow: -2px -2px 0 #3B4CCA,  
                 2px -2px 0 #3B4CCA,   
                -2px 2px 0 #3B4CCA,   
                 2px 2px 0 #3B4CCA;
}

header button {
    font-weight: 600;
    color: var(--textp);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--Butto);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

header button:hover {
    background-color: var(--Buttoh);
}

header button:active {
    background-color: var(--Buttos);
}
.menu-list{
    position: absolute;
    right: 15%;
}

/* Responsive */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    header{
        margin-bottom: 1rem;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--tarjeta);
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1rem;
    }
    .logo {
        width: 20%;
        left: 40%;
    }
    .menu.open {
        display: flex;
    }

    header input {
        width: 80%;
    }
    .menu-list{
        position: static;
    }
}

@media (max-width: 600px) {
    header {
        padding: 0.5rem;
    }

    header input {
        width: 70%;
    }

    .label {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    header {
        padding: 0.25rem;
    }

    .label {
        font-size: 0.75rem;
    }

    header input {
        width: 60%;
    }
}