header{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color:var(--tarjeta);
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1),
    0px 2px 10px rgba(0,0,0,0.1),
    0px 2px 15px rgba(0,0,0,0.1);
    padding-inline: 2rem;
}
header a{
    font-weight: 600;
    color: var(--textp);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--Butto);
    box-shadow:  0px 0px 10px rgba(0,0,0,0.1),
     0px 0px 15px rgba(0,0,0,0.1),
     0px 0px 20px rgba(0,0,0,0.1),
     0px 0px 25px rgba(0,0,0,0.1);

    transition: 0.5s;
}
header a:hover{
    background-color: var(--Buttoh);
    color: var(--textp);
    box-shadow: 
         0px 0px 10px rgba(0,0,0,0.1),
         0px 0px 15px rgba(0,0,0,0.1),
         0px 0px 20px rgba(0,0,0,0.1),
        0px 0px 10px rgba(255, 0, 0, 0.6), 
        0px 0px 20px rgba(255, 223, 0, 0.8), 
        0px 0px 30px rgba(59, 76, 202, 0.7); 
    transition: 0.5s;
}
header a:active{
    background-color: var(--Buttos);
    color: var(--texts);
}
header img{
    object-fit: contain;
    height: 300%;
    position: absolute;
    
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}
header ul li{
    list-style: none;
}
header ul li a{
    color: var(--textp);
    text-decoration: none;
}
header input{
    padding: 10px;
    border-radius: 6px;
    border: solid 1px var(--Bord);
    width: 20%;
}
header input:focus{
    outline: none;
    border: solid 1px var(--Butto);
    box-shadow: 
        inset 0px 0px 10px rgba(0,0,0,0.1),
        inset 0px 0px 15px rgba(0,0,0,0.1),
        inset 0px 0px 20px rgba(0,0,0,0.1),
        0px 0px 10px rgba(255, 0, 0, 0.6), /* Rojo Pokémon */
        0px 0px 20px rgba(255, 223, 0, 0.8), /* Amarillo Pikachu */
        0px 0px 30px rgba(59, 76, 202, 0.7); /* Azul Pokémon */
    transition: 0.5s;
    width: 30%;
}
.label{
    color: #E0C000;
    font-size: 1.5rem;
    text-shadow: 
    -2px -2px 0 #3B4CCA,  /* Arriba izquierda */
    2px -2px 0 #3B4CCA,   /* Arriba derecha */
    -2px 2px 0 #3B4CCA,   /* Abajo izquierda */
    2px 2px 0 #3B4CCA;
}
header nav{
    gap: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    
}